<!-- views/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sepet</title>
</head>
<body>
  <section class="pt-5 pb-5">
    <div class="container">
      <div class="row w-100">
          <div class="col-lg-12 col-md-12 col-12">
              <h3 class="display-5 mb-2 text-center">Alışveriş Sepeti</h3>
              <p class="mb-5 text-center">
                  <i class="text-info font-weight-bold"><%= cart.products.length %></i> Sepetteki Ürün Sayısı</p>
              <table id="shoppingCart" class="table table-condensed table-responsive">
                  <thead>
                      <tr>
                          <th style="width:60%">Ürün</th>
                          <th style="width:12%">Fiyat</th>
                          <th style="width:10%">Adet</th>
                           
                      </tr>
                  </thead>
                  <tbody>
                    <% cart.products.forEach(product => { %>
                      <tr>
                          <td data-th="Product">
                              <div class="row">
                                  <div class="col-md-3 text-left">
                                      <img src="admin/<%= product.urun_görsel %>" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                  </div>
                                  <div class="col-md-9 text-left mt-sm-2">
                                      <h4><%= product.urun_adi %></h4>
                                      <p class="font-weight-light"> <%- product.urun_shortdesc %></p>
                                  </div>
                              </div>
                          </td>
                          <td data-th="Price"><%= product.urun_fiyat %> ₺</td>
                          <td data-th="Quantity">
                              <input type="number" class="form-control form-control-lg text-center" value="1">
                          </td>
                     
                      </tr>
                      <% }); %>
                       
                  </tbody>
              </table>
              <div class="float-right text-right">
                  <h4>Kart Toplam Fiyat</h4>
                  <h1><%=total %> ₺ </h1>
              </div>
          </div>
      </div>
      <div class="row mt-4 d-flex align-items-center">
          <div class="col-sm-6 order-md-2 text-right">
              <a href="payment" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Sepeti Onayla</a>
          </div>
          <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
              <a href="/">
                  <i class="fas fa-arrow-left mr-2"></i>Alışverişe Devam Et</a>
          </div>
      </div>
  </div>
  </section>
  
 
</body>
</html> 


