<!-- <% if (orders && orders.length > 0) { %>
<ul>
  <% orders.forEach(order => { %>
  <li>
    <h1><%= order.user.name  %></h1>
    <strong>Order ID:</strong> <%= order._id %><br>
    <strong>Customer Name:</strong> <%= order.customerName %><br>
    <strong>Products:</strong>
    <ul>
      <% order.products.forEach(product => { %>
      <li>
        <%= product.urun_adi %> - <%= product.urun_fiyat %>
      </li>
      <% }); %>
    </ul>
  </li>
  <% }); %>
</ul>
<% } else { %>
<p>No orders found.</p>
<% } %> -->

<div class="main-panel" style="margin-top: 3%;">
  <div class="page-content">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h4 class="mb-3 mb-md-0">Sipariş  Yönetim Paneli</h4>
      </div>

    </div>

    <div class="row">
      <div class="col-12 col-xl-12 stretch-card">
        <div class="row flex-grow-1">
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                  <h6 class="card-title mb-0 " style="margin: auto;padding-bottom: 25px;" >Toplam Sipariş</h6>

                </div>
                <div class="row" >
                  <div class="col-6 col-md-12 col-xl-5" style="display: flex;">
                    
                    <h3 style="margin-left: 141px;" class="mb-2"><%= totalorders  %></h3>

                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                  <h6 class="card-title mb-0 " style="margin: auto;padding-bottom: 25px;" >Tamamlanan Sipariş</h6>

                </div>
                <div class="row">
                  <div class="col-6 col-md-12 col-xl-5">
                    <h3  style="margin-left: 141px;" class="mb-2"><%= tamamnlanansiparis  %></h3>

                  </div>
                
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                  <h6 class="card-title mb-0 " style="margin: auto;padding-bottom: 25px;" >Kargodaki Sipariş</h6>

                </div>
                <div class="row">
                  <div class="col-6 col-md-12 col-xl-5">
                    <h3 style="margin-left: 141px;" class="mb-2"><%= kargodakisiparis  %></h3>

                  </div>
                   
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                  <h6 class="card-title mb-0 " style="margin: auto;padding-bottom: 25px;" >Bekleyen Sipariş</h6>

                </div>
                <div class="row">
                  <div class="col-6 col-md-12 col-xl-5">
                    <h3 style="margin-left: 141px;" class="mb-2"><%= bekleyensiparis  %></h3>

                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
    <table class="table">
      <% orders.forEach(order => { %>
      <div class="modal fade" id="orderModal_<%= order._id %>" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sapariş İD'si - <%= order.conversationId %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item disabled active">Alıcı Bilgileri</li>
                <li class="list-group">Alıcı İsmi : <%= order.user.name  %> <%= order.user.lastname %></li>
                <li class="list-group">Alıcı E-posta: <%= order.user.email%></li>
                <li class="list-group">Alıcı Telefon No: <%= order.user.phone %></li>
                <li class="list-group"></li>
              </ul> 
              <ul class="list-group">
                <li class="list-group-item disabled active">Kargo Adresi</li>
                <li class="list-group">Alıcı İsmi : <%= order.user.name   %> <%= order.user.lastname %></li>
                
                <li class="list-group"></li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item disabled active">Ürün Bilgileri</li>
                <% order.products.forEach(product => { %>
                  <li class="list-group">Ürün Barkodu: <%= product.urun_barkod %></li>
                  <li class="list-group">Ürün İsmi: <%= product.urun_adi %></li>
                  <li class="list-group">Ürün Fiyatı: <%= product.urun_fiyat %></li>
                  <li class="list-group">--------------------</li>

                  
                <% }); %>
              </ul> 
              
              <strong>Order ID:</strong> <%= order._id %><br>
              <strong>Total:</strong> <%= order.price %><br>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- Gerekirse başka düğmeler ekleyebilirsiniz -->
            </div>
          </div>
        </div>
      </div>
      <% }); %>
      <thead>
        <tr>
          <th scope="col">Sipariş İD'si</th>
          <th scope="col">Fiyat</th>
          <th scope="col">Alıcı Bilgileri</th>
          <th class="col">Sipariş Durumu</th>
          <th class="col">Ödeme Durumu</th>
          <th scope="col">Sipariş Tarihi</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(order => { %>
        <tr>
          <th scope="row"> <%= order.conversationId %></th>
          <td style="font-size: large;"><%= order.price %> ₺</td>
          <td><%=order.user.name  %> <%=order.user.lastname %></td>
          <td>
            <form style="display: flex;" action="updateorderstatus" method="POST">
              <input type="hidden" name="orderid" value="<%= order._id %>">
              <select class="form-select" aria-label="Default select example" name="status">
                <option selected><%=order.status  %></option>
                <option value="Ödeme Alındı">Ödeme Alındı</option>
                <option value="Kargoya Verildi">Kargoya Verildi</option>
                <option value="Sipariş Tamamlandı">Sipariş Tamamlandı</option>
              </select>
              <button class="btn btn-success">Güncelle</button>
            </form>
          </td>
          <td>İyzico ile ödeme alındı</td>
          <td><%= order.createdAt  %></td>
          <td><button class="btn btn-success" data-toggle="modal" data-target="#orderModal_<%= order._id %>"> detay</button></b></td>


        </tr>

        <% }); %>
      </tbody>
    </table>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Admin Controler System V1.0 <a href="https://www.bootstrapdash.com/" target="_blank">WTB Bilişim</a></span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>